@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  ::selection {
    @apply bg-primary-500/30 text-slate-100;
  }
  ::-moz-selection {
    @apply bg-primary-500/30 text-slate-100;
  }
}

/* Custom Scrollbar Styling */
/* For Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded-lg border-2 border-solid border-slate-800;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-500;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #475569 #1e293b; /* thumb and track color */
}